* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #051e28;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.form-container {
  min-width: 30vw;
  min-height: 65vh;
  background: #1f768a;

  border: none;
  border-radius: 10px;

  box-shadow: 0 0 0.5em #1f768a;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  gap: 2rem;
}

.form-container header {
  width: 100%;

  background-color: #58a4b4;
  color: #0d1e28;

  border: none;
  border-radius: 2px;

  padding: 10px;
  margin-top: 2rem;
  text-align: center;

  font-size: 1.5rem;
  font-weight: bold;
}

form {
  gap: 1rem;
}

form input {
  height: 40px;
  width: 70%;

  background: none;

  border: 2px solid #8bd3e1;
  border-radius: 5px;

  text-align: center;
}

::placeholder {
  color: #0d1e28;
  opacity: 1;
}

button {
  height: 40px;
  padding: 0 2rem;
  border: none;
  border-radius: 5px;

  background: #051e28;
  color: #8bd3e1;
  opacity: 0.9;
  font-weight: bold;

  transition: all 0.2 ease;
  cursor: pointer;

  text-transform: uppercase;
}

button:hover {
  opacity: 1;
}
